/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #3B3B3B;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Ubuntu';
  }
  
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
/* Thea's code! Header Section */

  /* ==========================================================================
     Base Mobile Screen
     ========================================================================== */
     
  @media screen and (max-width: 39.9375em){

    /* Top Banner Hide when Screen Smaller */
    .banner, .column,
    [hidden] {
      display: none !important;
    }

    /* make logo shift */
    .company__logo{
    position: absolute;
    display: block;
    }

    .page__intro {
      font-weight: lighter;
      text-align: center;
      font-size: 34px;
      padding: 5rem 2rem 2rem 2rem;
    }


  }


  /* ==========================================================================
      Media Query for Tablet
     ========================================================================== */
  
     @media only screen and (min-width: 40em) {
      /* Style adjustments for viewports that meet the condition */
    }
    
    /* ==========================================================================
        Media Query for Desktop
       ========================================================================== */
    
       @media only screen and (min-width: 64em) {
        /* Style adjustments for viewports that meet the condition */
      }
  
/* Styling for whole website! */

.nav__arrow:hover {
  opacity: 0%;
}

.company__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   */
  
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  
