/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
  color: #3B3B3B;
  font-size: 1em;
  line-height: 1.4;
  font-family: Ubuntu;
  padding: 0;
}

img{
  width: 20px;
  height:20px;
}

/*Sandy's footer section*/

/*General footer style*/
footer{
  background-color: #0E2E4E;
  color:#fff;
  display:flex;
  padding-top:4px;
  padding-bottom: 4px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}

.flexbox_container{
  margin:2rem;
}

.director__image{
  width: 10.64794rem;
  height: 9.20781rem;
  flex-shrink: 0;
  border-radius: 100%;
}

.track__square{
  display: flex; 
  margin-bottom:1rem;
  
}

.track__square--purple{
  background-color:#527CC4;
  width: 32px;
  height: 32px;
  border-radius: 10%;
  margin-right: 0.44rem;
}

.track__square--red{
  background-color:#E46145;
  width: 32px;
  height: 32px;
  border-radius: 10%;
  margin-right: 0.44rem;
}

.track__square--blue{
  background-color:#00B0E2;
  width: 32px;
  height: 32px;
  border-radius: 10%;
  margin-right: 0.44rem;
}
.track__square--pink{
  background-color:#F6679C;
  width: 32px;
  height: 32px;
  border-radius: 10%;
  margin-right: 0.44rem;
}
.track__square--yellow{
  background-color:#FFB901;
  width: 32px;
  height: 32px;
  border-radius: 10%;
  margin-right: 0.44rem;
}

/*mobile phone screen style*/
@media screen and (max-width: 39.9375em){
  /* About us and instagram section hidden in mobile size */
  .about, .instagram,
  [hidden] {
    display: none !important;
  }

  footer{
    flex-direction: column;
  }

  .flexbox_container{
    display: flex;
    flex-direction: column;
  }

  .director__info{
    display: flex;
    align-items: flex-start;
    width: 26rem;
    margin: 2rem;
    gap: 2rem;
    order:-2;
  }

  .director__caption{
    width:16rem;
    height:9rem;
    margin-left:0.47rem;
    margin-right:1rem;
  }

  .director__image{
    width: 8.66275rem;
    height: 7.49113rem;
    flex-shrink: 0;
  }

  .director__caption{
    width: 20rem;
    height:auto;
    flex-shrink: 0;
  }

  .track{
    display:flex;
    flex-direction: column;
    width: 15rem;
    height: 11rem;
    flex-shrink: 0;
    order:-1;
    margin-left:21rem;
  }

  .colors{
    width: 25rem;
    height: 1.0625rem;
    flex-shrink: 0;
    margin: auto;
  }

  .review{
    display: flex;
    width: 24.6875rem;
    height: 20.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    margin-left:1rem;
    margin-right:1.31rem;
  }

  .reviews__heading{
    color:#19B2DE;
    font-family: Ubuntu;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .user{
    color: #1BADE6;
    text-align: justify;
    font-family: "Open Sans";
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem;
  }
  
  .reviews__content{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem;
  }

  .reviews__comment{
    align-self: stretch;
    width:24.6875rem;
    height:5.25rem;
  }
}

/*tablet screen style*/
@media only screen and (min-width: 40em){
  

}

/*desktop screen style*/
@media only screen and (min-width: 64em){

/*director section style*/

.director__info{
  display: flex;
  width: 47.5rem;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
  }

/*.instagram section style*/



/*reviews section style*/


/*track section style*/

.track__square{
  display:flex;
  width: 9rem;
  height: 5.125rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.3125rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}

}