/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #3B3B3B;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Ubuntu';
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.brand-name {
  color: #1EAFDE;
}

/* ==========================================================================
   Base Mobile Screen
   ========================================================================== */
   @media screen and (max-width: 39.9375em) {
/*==================================
    Body Styles - Alyssa
  ==================================*/

  /*====Page Title====*/

  .page__intro {
    font-weight: lighter;
    text-align: center;
    font-size: 34px;
    padding: 2rem;
  }

  /*====Services Section====*/

  .services__title {
    text-align: center;
    font-weight: lighter;
    margin: auto auto 1rem;
  }
  .services__subtitle {
    text-align: center;
    font-weight: lighter;
    color: #A3A3A3;
    font-size: 11px;
    margin: auto auto 2rem;
  }
    /*==service items==*/
    .service__item {
      display: flex;
      align-content: center;
      margin-bottom: 30px;
    }
    .service__icon {
      max-width: 80px;
      max-height: 80px;
      margin-right: 10px;
    }
    .service__text {
      flex-direction: column;
    }
    .service__header {
      font-size: 16px;
      margin: auto auto 5px 5px;
    }
    .service__desc {
      margin: auto 80px 5px 5px;
      font-size: 12px;
      color: #939393;
    }

  /*====News Section====*/

  .news__title {
    text-align: center;
    font-weight: lighter;
    margin: auto auto 1rem;
  }
  .news__subtitle {
    text-align: center;
    font-weight: lighter;
    color: #A3A3A3;
    font-size: 11px;
    margin: auto auto 2rem;
  }

    /*==news container==*/
    .news-item {
      position: relative;
      width: 350px;
      border-radius: 8px;
      overflow: hidden;
      padding: 20px 0;
    }

    /*==news date==*/
    .news__date {
      position: absolute;
      background-color: #d16a6a;
      color: white;
      padding: 5px 10px;
      text-align: center;
      border-radius: 4px;
    }
    .date__day {
      font-size: 20px;
      font-weight: bold;
      display: block;
      margin: auto;
    }
    .date__month {
      font-size: 8px;
      margin: 0 auto;
    }
    /*==news picture==*/
    .news__picture {
      width: 400px;
      height: 288px;
      object-fit: cover;

    }
    /*==news title==*/
    .news__info {
      background-color: #19B2DE;
      color: white;
      text-align: left;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1px;
      width: 100%;
      display: flex;
    }
    .news__heading {
      font-size: 16px;
      font-weight: bold;
      margin: 5px 10px 0;
    }
    .news__subheading {
      font-size: 11px;
      margin: 0 10px 10px;
    }
    .news__icon {
      position: absolute;
      right: 20px;
      width: 28px;
      top: 11px;
      height: 28px;
      background-color: #007bbf;
      border-radius: 2px;
    }
/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

}
/* ==========================================================================
    Media Query for Tablet
   ========================================================================== */

@media screen and (min-width: 40em) {
  /* Style adjustments for viewports that meet the condition */
}

/* ==========================================================================
    Media Query for Desktop
   ========================================================================== */

   @media screen and (min-width: 64em) {
    /* Style adjustments for viewports that meet the condition */
  }